<h1>
    Car Details
    <button (click)="like()">Like this car!</button>
</h1>
<div>
    <h2>{{car.make}} {{car.model}} - {{likesCount}} Likes</h2>
    <img *ngIf="car.image" [src]="car.image" alt="No Photo" style="width:200px">
</div>
<div>
    <form #reviewForm="ngForm" (submit)="submitReview()">
        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="form-control" id="rating" name="rating" [(ngModel)]="review.rating">
            <option *ngFor="let number of [1,2,3,4,5]" [value]="number">{{number}}</option>ion
            </select>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" name="comment" [(ngModel)]="review.comment">
            </textarea>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!reviewForm.form.valid">
        Submit</button>
    </form>

    <div>
        <div *ngFor='let review of reviews'>
            {{review.rating}} <span *ngIf="review.comment"> - {{review.comment}}</span>
        </div>
    </div>
</div>